@import '../../scss/variables';
@import '../../scss/mixins';

.mainWrapper {
	@include template-grid;
	padding-top: 47px;
	padding-bottom: 62px;
}

.visuallyHidden {
	visibility: hidden;
	height: 0;
	margin: 0;
}

.menu {
	grid-column: 1/2;
}

.menuList {
	display: grid;
	row-gap: 42px;
}

.listItem {
	font-weight: 700;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: 0.1px;
	color: $color-dark;

	&Active {
		background: $color-primary;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
}

.border {
	width: 255px;
	height: 1px;
	background: $color-primary;
	margin-top: 8px;
}

.navigationList {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.buttons {
	margin-left: auto;
	display: flex;
	gap: 16px;
}

.bookGrid {
	grid-column: 2/3;
}

.booksList {
	padding-top: 32px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
	justify-content: space-between;
	gap: 24px 21.5px;

	@media screen and (max-width: $tablet-width) {
		gap: 32px 35px;
	}

	@media screen and (max-width: $mobile-width) {
		gap: 16px;
	}
}
