@import '../../scss/variables';
@import '../../scss/mixins';

.navigationList {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.cardsLayout {
  display: flex;
  margin-left: auto;
  gap: 16px;
}

.noBooks,
.noResults {
  padding-top: 200px;
  text-align: center;
  color: $color-black40;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.1px;
}
