@import 'reset';
@import 'fonts';
@import 'variables';
@import 'mixins';

.wrapper {
	max-width: 1110px;
	margin: 0 auto;

	@media screen and (max-width: 1200px) {
		max-width: calc(100% - 40px * 2);
	}

	@media screen and (max-width: 768px) {
		max-width: calc(100% - 64px * 2);
	}

	@media screen and (max-width: 600px) {
		max-width: calc(100% - 32px * 2);
	}

	@media screen and (max-width: 350px) {
		max-width: calc(100% - 16px * 2);
	}
}
