@import '../../scss/variables';

.sortButton {
  position: relative;
  padding: 10px 15px 10px 40px;
  background: $color-light;
  box-shadow: 0px 2px 4px rgba(191, 196, 201, 0.2),
    0px 3px 4px rgba(191, 196, 201, 0.18), 0px 1px 5px rgba(191, 196, 201, 0.24);
  border-radius: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-black40;
  letter-spacing: 0.1px;

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    width: 16px;
    height: 16px;
  }

  path {
    fill: $color-black40;
  }

  &:active {
    box-shadow: 0px 3px 4px rgba(222, 125, 11, 0.2),
      0px 1px 10px rgba(249, 89, 8, 0.2);
  }
}
